<!DOCTYPE html>
<html lang="en">
<head>
    <!-- start head-->
        <%- include('./include/header', { title: 'Image Upload use Multer Nodejs Module'})  %>
    <!-- end head -->
</head>
<body>
 <!-- start body-->
 <%- include('./include/Navbar') %>
 <!-- end body -->  
<div class="container-fluid">
    <h3>Home</h3>
</div>
</body>
</html>